body {
    background: wheat;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}

section {
    background: white;
    width: 500px;
    margin: auto;
    height: 100%;
    padding: 10px 30px;
}

.grid-wrapper {
    display: grid;
    grid-template: 'btns info' 
                    'process process'
}

button {
    display: block;
    width: 150px;
    height: 40px;
    margin: 5px 0;
}

.buttons-wrapper {
    grid-area: btns;
}

.info {
    background: #eee;
    grid-area: info;
    box-sizing: border-box;
    padding: 10px 30px;
}

.processing {
    margin: 20px 0 0;
    line-height: 50px;
    text-align: center;
    grid-area: process;
}